services:
  mysql:
    image: mysql:8.0
    container_name: havana-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: havana_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./havana-backend
    container_name: havana-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/havana_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build: ./havana
    container_name: havana-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mysql_data:
